body {
  margin: 0;
  height: 100%;
  /* using times new roman bc having no bars on I in I center was bugging me */
  font-family: "Times New Roman", sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  /* I spent awhile cropping this to try to be same length as the main table lol */
  background-image: url('../images/byuicenter_crop.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  min-height: 400px;
  max-width: 900px;
  padding: 40px;
}

h2 {
  margin-top: 40px;
  color: #032c55;
}

.devo-table {
  width: 100%;
  margin-top: 20px;
}


.devo-table th,
.devo-table td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: left;
}

.devo-table th {
  background-color: #032c55;
  color: white;
}

.devo-form {
  margin-top: 20px;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* This took me too long to figure out because i kept fighting the input boxes looking terrible */
.form-group input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.devo-form button {
  font-family: "Times New Roman", sans-serif;
  background-color: #032c55;
  color: white;
  padding: 20px 20px;
  font-size: 1em;
}

.devo-form button:hover {
  background-color: rgb(10, 10, 151);
}
