
#wrapper {
    border-radius: 5px;
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aa243f;
}
header {
    border-radius: 5px;
    background-color: #d62839;
    padding: 15px 0;
}
nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    color: white;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    color: #d4172a;
    margin: 20px 0;
}
 img {
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    width: 200px;
}

h2 {
    color: #b1040a;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

section {
    margin-bottom: 25px;
    padding: 15px;
    background-color: #e4a6b3;
    border-radius: 5px;
}
footer {
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #d62839;
    color: white;
}
