
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, sans-serif; 
    background-color: #F5F5F5; 
    color: #333333;
    line-height: 1.6;
}

header {
    background-color: #3363a1; 
    color: white;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

header h1 {
    font-family: 'Poppins', sans-serif; 
    font-size: 2rem;
}

header h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}
header img {
    width: 100px;
}

nav {
    background-color: #407ac5;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ade7e7; /* this shows up pretty good against the mid blue i have on the bar */
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr; /* css tutorial had this on youtube really good */
    gap: 20px;
    padding: 20px;
}

main section {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}
main h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    color: #1E3A5F;
}

main a {
    color: #2563EB;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline; /*makes it look professional with underline imo */
}

th, td {
    padding: 8px;
    text-align: left;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid #333333;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #1e2730; 
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

footer a {
    color: #2563EB;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
   
    main {
        grid-template-columns: 1fr;
    }

    header {
        grid-template-columns: 1fr;
        text-align: center;
    }
}